body {
    background-color: #000000;
    font-family: 'Press Start 2P', cursive;
    color: #f0e68c;
}

h1 { 
    color: #f0e68c;
    text-align: center;
}

p {
    color: #f0e68c;
}

input[type="radio"], input[type="checkbox"] {
    background-color: #f0e68c;
    border-color: #f0e68c;
}

button {
    background-color: #f0e68c;
    border-color: #f0e68c;
    color: #000000;
    cursor: pointer;
}

button:hover {
    background-color: #f0e6b0;
    border-color: #f0e6b0;
}